
    .content_box {
        background: #FFF;
        overflow: hidden;
    }
    .bjcp_table {
        width: 1000px;
        margin: 50px 0 0 50px;
    }
    .bjcp_table td {
        height: 55px;
    }
    .bjcp_table .title {
        font-weight: 600;
        width: 60px;
    }
    .bjcp_table input {
        height: 40px;
        border-radius: 4px;
        background: #ECECEC;
    }
    .bc {
        text-align: center;
        margin: 20px auto 50px;
    }
    .bc button {
        width: 200px;
        height: 45px;
        line-height: 45px;
        border-radius: 5px;
        background: #0297E6;
        color: #FFF;
        font: 500 18px "Microsoft YaHei";
        letter-spacing: 6px;
        border: none;
    }
