
    .content_box {
        background: #FFF;
        overflow: hidden;
    }
    .htgl_table {
        width: 98%;
        border: 1px solid #CDCDCD;
        border-width: 1px 0 0 1px;
        margin: 30px auto;
    }
    .htgl_table td {
        height: 40px;
        border: 1px solid #CDCDCD;
        border-width: 0 1px 1px 0;
        text-align: center;
    }
    .htgl_table td a {
        color: #0297E6;
        margin: 0 5px;
    }
    .htgl_table td .red {
        color: red;
    }
    .htgl_table td img {
        width: 30px;
        height: 30px;
    }
    .bc {
        text-align: center;
        margin: 20px auto 50px;
    }
    .bc button {
        width: 200px;
        height: 45px;
        line-height: 45px;
        border-radius: 5px;
        background: #0297E6;
        color: #FFF;
        font: 500 18px "Microsoft YaHei";
        letter-spacing: 6px;
        border: none;
    }
