
    .login_box {
        width: 490px;
        height: 530px;
        border-radius: 8px;
        background: #FFF;
        margin: 5% 0 50px 18%;
        text-align: center;
        overflow: hidden;
    }
    .login_box h3 {
        height: 27px;
        text-align: center;
        font: 500 26px/27px "Microsoft YaHei";
        color: #0099E5;
        margin-top: 60px;
    }
    .ipt_box {
        width: 360px;
        margin: 45px auto 0;
    }
    .ipt_box li {
        position: relative;
        margin-top: 40px;
    }
    .ipt_box li i {
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: 22px;
        color: #8A8A8B;
    }
    .ipt_box li button {
        background: #0297E6;
        border: none;
        color: #FFF;
        letter-spacing: 6px;
        border-radius: 5px;
        line-height: 30px ;
    }
    .ipt_box input {
        height: 48px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #ACACAD;
        text-indent: 38px;
    }
    .ipt_box .check_bix {
        float: left;
        width: 50%;
        height: 18px;
        line-height: 18px;
        text-align: left;
        font-size: 18px;
        color: #666666;
        vertical-align: middle;
    }
    .ipt_box .check_bix input {
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin-top: -2px;
    }
    .ipt_box li button {
        width: 100%;
        height: 48px;
        font-weight: 500;
        font-size: 24px;
    }
    .ipt_box .get_nmb {
        text-align: left;
        margin-top: 30px;
        font-size: 16px;
    }
    .ipt_box .get_nmb a {
        color: #999;
    }
